{% extends "layout.html" %}
{% block title %}Contact Us{% endblock %}
{% block body %}
  <h2>Contact Us</h2>
  {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="" method=post>
    <dl>
      <dt>E-Mail:
      <dd><input type=text name=email size=30 value="{{ g.user.email|default('') }}" placeholder="{{g.user.email|default('required')}}" />

      <dt>Question/Comments:
      <dd><textarea name="comments" style="width:70%; height:10em;"></textarea>

    </dl>
    <div class=actions><input type=submit value="Contact Us"></div>
  </form>
{% endblock %}
