<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>MASS-RealEstateSchool.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

    <script src="http://isomerica.net/~stu/mare/js/prototype.js"></script>
    <script src="http://isomerica.net/~stu/mare/js/effects.js"></script>
    <script src="http://isomerica.net/~stu/mare/js/flowplayer.js"></script>

    <style>
        body { background-color: #FFFFFF; margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; }
        .body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; }
        .header{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 30px; }
        .style5 {color: #363636}
        .style6 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 30px; color: #363636; }
        .style7 {color: #000000}
        .style8 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; color: #000000; }
        .style10 {color: #333333}
        .style11 {font-size: 14px}
        .style12 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #000000; }
        .style13 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #FFFFFF; }
        .style16 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; }
        .style17 { color: #A77502; font-size: 13px; }
    </style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27513053-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>



</head>
 
<body>
<div align="center">
  <table border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="50%" background="http://isomerica.net/~stu/mare/images/tile.gif"></td>
      <td width="1000" valign="top"><table width="1000" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><table width="1000" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="511"><img src="http://isomerica.net/~stu/mare/images/ma-realestateschool-topleft.jpg" width="511" height="183"></td>
              <td style="text-align:right"><a href="/login/" style="font-weight:bold; margin-right:40px;color: #A77502;">Current User Login</a>
              <a href="http://www.mass.gov/ocabr/licensee/dpl-boards/re/ceu/authorized-real-estate-schools-in-massachusetts.html" target="_blank"><img src="http://isomerica.net/~stu/mare/images/ma-realestateschool-topright2.gif" width="489" height="183" border="0"></a></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td><table width="1000" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="450"><a id="video" href="http://s3.amazonaws.com/mare/bradmarealestate1633.flv" style="display:block; background:#000; height: 324px; width: 450px;"></a></td>
<script language="JavaScript">
	flowplayer("video", "http://releases.flowplayer.org/swf/flowplayer-3.2.7.swf");
</script>
              <td>&nbsp;</td>
              <td width="398"><table width="398" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td><img src="http://isomerica.net/~stu/mare/images/ma-realestateschool-clickbelow2.gif" width="398" height="134"></td>
                </tr>
                <tr>
                    <td><div align="center"><a href="/reg/"><img src="http://isomerica.net/~stu/mare/images/ma-realestateschool-addcart2.jpg" width="235" height="80" border="0"></a></div></td>
                </tr>
                <tr>
                  <td><div align="center"><img src="http://www.mass-realestateschool.com/static/images/ma-realestateschool-price2.jpg" width="235" height="110"></div></td>
                </tr>
                <tr>
                  <td>
                    <div align="center">
                      <a class="style17" href="http://www.bbb.org/boston/business-reviews/real-estate-schools/massachusetts-real-estate-school-in-woburn-ma-125531/">
                        
                        <img src="http://blue2.bbb.org/content/images/global/cbbb-badge-horz.png" alt="bblogo" /><br/>
                        Check Out Our BBB Listing<br/>
                    </div>
                  </td>
                </tr>
              </table></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table></td>
        </tr>
      </table></td>
      <td width="50%" background="http://www.mass-realestateschool.com/static/images/tile.gif"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="50">&nbsp;</td>
      <td><table width="900" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="10">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="450" valign="top"><table width="450" border="0" cellspacing="0" cellpadding="0">
              <tr>
                
              </tr>
              <tr>
                <td valign="top"><p align="left" class="body"><strong>How come I've never heard of being able to fulfill my CE Requirement online before?<br>
                </strong>Because it wasn't allowed! In 2010, the state of MA approved Online Education to fulfill their 12 Hour Continuing Education requirements.  <a href="http://www.mass.gov/ocabr/licensee/dpl-boards/re/ceu/requirements-for-online-continuing-education.html" target="_blank" class="style17">Here is a link to the approval</a></p></td>
              </tr>
              <tr>
                <td valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td width="30" valign="top"><div align="center"><img src="http://isomerica.net/~stu/mare/images/cert2.jpg" width="437" height="384"></div></td>
                </tr>
            </table>            
          </td>
          <td>&nbsp;</td>
          <td width="398" valign="top" > <div align="left">
                          
                	        <span class="style16">"I Can't Believe How Easy It Was To Fulfill My 12 Hour Continuing Education Requirement Online.  
                	I Would Recommend It To Anyone!"
              	            </span></p>
              	<p style="text-align:right;font-style:italic;margin-top:0px;"><span class="style16">
                  - Michael Zenga,<br/>
                MA Real Estate Broker #9500542</span>                </p>
                <p style="text-align:center">
                  <a href="index.html#" class="style17" onclick="new Effect.Appear('testimonials', { queue: 'front'});return false;">What MA Realtors Are Saying</a>
                </p>
                <div id="testimonials" style="display:none;position:fixed;top:0; left:0; right:0; bottom:0px;background: transparent;">
                  <div style="margin-left:auto; margin-right:auto; margin-top: 40px; width: 500px; padding:20px; border:4px ridge black; background-color: #fff;max-height: 400px;overflow:scroll;">
                    <p style="text-align:center">
                      <a href="index.html#" class="style17" onclick="new Effect.Fade('testimonials', { queue: 'front'});return false;">close</a>
                    </p>
                    <p>
                      Thank goodness I didn't have to go sit in a hotel. I have done that full day thing a few times.  
                      And it is nice not to have to pay for each class individually. I am so thankful to be able to do it on my own time. 
                      I will definitely recommend it to my coworkers. Please send me my certificate! <br/>  
                      <span style="font-style:italic;" class="style16">Nancy R. MA Realtor, Duxbury MA</span>
                    </p>
                    <p>
                      Good Afternoon,   I wanted to left you know that the course was informative and really enjoyed the format.  
                      It was so much more convenient to study at home on my schedule. <br/>
                      <span style="font-style:italic;" class="style16">Thanks, Bob D. MA Realtor</span>
                    </p>
                    <p>
                      I have completed the 12 CE requirement.     
                      Thanks for your help and thanks for the course, much easier than sitting in a classroom for marathon sessions. <br/> 
                     <span style="font-style:italic;" class="style16"> Rich C.- Weichart Realtors, Easton, MA</span>
                    </p>
                    <p>
                      Hi, I just finished the CE program. Btw, thanks for trying to make some dull topics more interesting. <br/>
                      <span style="font-style:italic;" class="style16">Best regards, Mark P., MA Realtor Aug 8</span>
                    </p>
                    <p>
                       Hi I've finished my continued education real estate modules on-line...
                       Note:  Really enjoyed the On-line modules - I'll take the survey on-line as well...<br/>
                       <span style="font-style:italic;" class="style16">Mary Mary E., MA Realtor, Auburn MA  May 5</span>
                     </p>
                     <p>
                       Hi , I enjoyed your course on line  and am finished.<br/>
                       <span style="font-style:italic;" class="style16">Stephen L., MA Realtor, Winchester MA        Apr 21</span>
                     </p>
                     <p>
                      Thanks; it was actually rather pleasant! Especially the gentleman. He seemed to have some humor to him!<br/>
                      <span style="font-style:italic;" class="style16">Stephen B. MA Realtor</span>
                    </p>
                    <p style="text-align:center">
                      <a href="index.html#" class="style17" onclick="new Effect.Fade('testimonials', { queue: 'front'});return false;">close</a>
                    </p>
                  </div>
                </div>
            <table width="398" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="header style5">How It Works </td>
                </tr>
              <tr>
                <td><table width="398" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="top"></td>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td width="30" valign="top"><img src="http://isomerica.net/~stu/mare/images/bullet.jpg" width="25" height="21" align="absmiddle"></td>
                    <td class="body"><strong>Step One:</strong> Submit Payment </p> </td>
                  </tr>
                  <tr>
                    <td valign="top"></td>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td valign="top"><img src="http://isomerica.net/~stu/mare/images/bullet.jpg" width="25" height="21" align="absmiddle"></td>
                    <td class="body"><strong>Step Two:</strong> You will receive an instant access code to the course website </p></td>
                  </tr>
                  <tr>
                    <td valign="top"></td>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td valign="top"><img src="http://isomerica.net/~stu/mare/images/bullet.jpg" width="25" height="21" align="absmiddle"></td>
                    <td class="body"><strong>Step Three:</strong> Watch the video for as little or as long as you want in one sitting (our software will remember where you left off so you can log off and log back on as needed) Most people complete the course in a few days, but take as long as you want ? even weeks or months! </td>
                  </tr>
                  <tr>
                    <td valign="top"></td>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td valign="top"><img src="http://isomerica.net/~stu/mare/images/bullet.jpg" width="25" height="21" align="absmiddle"></td>
                    <td><span class="body"><strong>Step Four:</strong> Upon completion of the video course our staff is notified and we will send you a certificate the next business day which fulfills your MA Realtor/Broker CE Requirement</span>                      </p></td>
                  </tr>
				   
				  <tr>
                    <td valign="top"></td>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td valign="top"><img src="http://isomerica.net/~stu/mare/images/bullet.jpg" width="25" height="21" align="absmiddle"></td>
                    <td><span class="body">Contact our office for one-on-one answers to your questions on course material </span>                      </p></td>
                  </tr>
                </table></td>
              </tr>
            </table>
          </div>
            </td>
        </tr>
      </table></td>
      <td width="50">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td bgcolor="#f0f0f0" class="style6"><table width="900" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="20">&nbsp;</td>
          <td class="body"><div align="left"><br>
                <span class="header">FAQs
                </span><br>            
                <br>
                <strong class="style8">1. Are You a Licensed Real Estate School In MA? </strong>
            </div>
            <p align="left" class="style8">Yes, we are fully bonded and licensed in the State Of MA as a Real Estate School.</p>
            <p align="left" class="style8"><strong>2. Do your Continuing Education Classes fulfill my 12 hour Continuing Education requirement I need as a Massachusetts Realtor or Real Estate Broker? </strong></p>
            <p align="left" class="style8">Yes, our online classes fulfill your requirements. You will receive a stamped certificate on completion of your course</p>
            <p align="left" class="style8"><strong>3. How Do Online Classes work? </strong></p>
            <p align="left" class="style8"><img src="http://isomerica.net/~stu/mare/images/bullet2.jpg" width="25" height="21" align="absmiddle"> Once You pay for the course, you are sent login information to watch a recorded course </p>
            <p align="left" class="style8"><img src="http://isomerica.net/~stu/mare/images/bullet2.jpg" width="25" height="21" align="absmiddle"> You can watch as much as you like at a time, and logoff. When you log back in, the lecture will start where you were. </p>
            <p align="left" class="style8"><img src="http://isomerica.net/~stu/mare/images/bullet2.jpg" width="25" height="21" align="absmiddle"> Once the lecture is finished, you will receive a confirmation that you have completed the course and we mail you a certificate </p>
            <p align="left" class="style8"><img src="http://isomerica.net/~stu/mare/images/bullet2.jpg" width="25" height="21" align="absmiddle"> No more driving to a lecture and wasting an entire day and night of your life!! Who has time for that??</p>
            <p align="left" class="style8"><strong>4. How come I've never heard of being able to fulfill my CE Requirement online before? </strong></p>
            <p align="left" class="style7"><span class="body">Because it wasn't allowed! In 2010, the state of MA approved Online Education to fulfill their 12 Hour Continuing Education requirements. Here is a link to the approval: </span><a href="http://www.mass.gov/ocabr/licensee/dpl-boards/re/ceu/requirements-for-online-continuing-education.html" target="_blank" class="style10">http://www.mass.gov/ocabr/licensee/dpl-boards/re/ceu/requirements-for-online-continuing-education.html</a> </p>
            <p align="left" class="style8"><strong>5. What classes do you offer for your online continuing education? </strong></p>
            <p align="left" class="style7"><span class="body">The following 6 courses will be taught in 2 hour blocks:</span></p>
            <p align="left" class="style8"><img src="http://isomerica.net/~stu/mare/images/bullet2.jpg" width="25" height="21" align="absmiddle">RE04R08 Chapter 93A</p>
            <p align="left" class="style8"><img src="http://isomerica.net/~stu/mare/images/bullet2.jpg" width="25" height="21" align="absmiddle">RE09R07 Residential Rental</p>
            <p align="left" class="style8"><img src="http://isomerica.net/~stu/mare/images/bullet2.jpg" width="25" height="21" align="absmiddle">RE27RC07 1031 Exchanges</p>
            <p align="left" class="style8"><img src="http://isomerica.net/~stu/mare/images/bullet2.jpg" width="25" height="21" align="absmiddle">RE05RC01 Contract Law</p>
            <p align="left" class="style8"><img src="http://isomerica.net/~stu/mare/images/bullet2.jpg" width="25" height="21" align="absmiddle">RE25RC08 Financing</p>
            <p align="left" class="style8"><img src="http://isomerica.net/~stu/mare/images/bullet2.jpg" width="25" height="21" align="absmiddle">RE57R07 Brokerage Relationships</p>
            </td>
          <td width="20">&nbsp;</td>
        </tr>
        <tr>
          <td height="20"></td>
          <td height="20" class="body"></td>
          <td height="20"></td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <td>&nbsp;</td>
          <td height="150" class="body"><div align="center"><a href="/reg/"><img src="http://isomerica.net/~stu/mare/images/ma-realestateschool-addcart.jpg" width="233" height="87" border="0"></a></div></td>
          <td>&nbsp;</td>
        </tr>
      </table>      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td bgcolor="#e3a81c" class="style6"><table width="900" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="20" class="style12">&nbsp;</td>
          <td height="30" class="style12">All rights reserved - <strong>MASS-RealEstateSchool.com</strong></td>
          <td class="body style12">
                  <strong>Contact us: </strong><a href="mailto:info@mass-realestateschool.com">info@mass-realestateschool.com</a> or 781-787-0911
          </td>
        </tr>
      </table></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td height="20" bgcolor="#666666" class="style6"><div align="center" class="style13">
        <div align="right">
          <table width="900" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="20" class="style12">&nbsp;</td>
              <td height="30" class="style12">&nbsp;</td>
              <td width="450" class="body"><div align="center" class="style7 style11">
              </div></td>
              <td width="20" class="body">&nbsp;</td>
            </tr>
          </table>
          </div>
      </div></td>
      <td>&nbsp;</td>
    </tr>
  </table>
  <img src="http://www.sente.cc/white.gif" />
</div>
</body>
</html>
