{% extends "layout.html" %}
{% block header %}{% endblock %} 
{% block body %}


    {% if finished == True %}
        <center>
            <span style="display:block;background-color:yellow; width:20%;">
                <!--
                <h3><a href="{{url_for('static',filename='certificates/certificate-%s.pdf' % g.user.uid )}}">Congratulations! Print your certificate</a></h3>
                -->
                <h3>Congratulations! Print your certificate</h3>
            </span>

            <form action="/print_cert" method=post>
        <dl>
            <dt>Realtor/Broker #<input type=text name=brokernum size=30 value="">
            <dd><input type=hidden name=name value="{{g.user.name}}">
        </dl>
        <div class=actions><input type=submit value="Print Certificate"></div>
    </form>

        </center>
    {% endif %}




    <div id="playlist">
        {% for s in stats -%}


            {% if g.user.email == 'test@test.com'  -%}

                        {% if s.status == s.video_id -%}
                        <div style="display:inline-block;">
                                <a href="/video/?video_id={{s.video.id}}">
                            {% else %}
                        <div style="display:inline-block;">
                                <a href="/video/?video_id={{s.video.id}}">
                        {% endif %}

                            <strong>{{s.video.title}}</strong><br>

                            <img src="http://isomerica.net/~stu/mare/imgs/{{ 'images2/' + s.video.module + '_small.jpg' }}" />
                            <br />
                            <strong>{{(100*s.watched)//s.video.duration}}%</strong>
                        </a>
                        <div id="stats_{{s.uid}}" class="progressbar"></div>
                    </div>
            {% else %}
            
                {% if s.status > 0 %}
                    {% if s.status == s.video_id %}
                    <div style="display:inline-block;">
                            <a href="/video/?video_id={{s.video.id}}">
                        {% else %}
                    <div style="display:inline-block;">
                            <a href="/video/?video_id={{s.video.id}}">
                    {% endif %}

                        <strong>{{s.video.title}}</strong><br>

                        <img src="http://isomerica.net/~stu/mare/imgs/{{ 'images2/' + s.video.module + '_small.jpg' }}" />
                        <br />
                        <strong>{{(100*s.watched)//s.video.duration}}%</strong>
                    </a>
                    <div id="stats_{{s.uid}}" class="progressbar"></div>
                </div>
                {% else %}
                <div style="display:inline-block;">
                        <a href="#" onclick="alert('You must watch the videos in order');return false;";>
                        <strong>{{s.video.title}}</strong><br>
                        <img src="http://isomerica.net/~stu/mare/imgs/{{ 'images2/' + s.video.module + '_small.jpg' }}" />
                        <br />
                        <strong>{{(100*s.watched)//s.video.duration}}%</strong>
                        </a> 
                    <div id="stats_{{s.uid}}" class="progressbar"></div>
                </div>
                {% endif %}

            {% endif %}


        {% endfor %}

        <!--

        {% for s in stats -%}
        {{s.uid}}:{{ s.video.id }} = {{(100*s.watched)//s.video.duration}}% | {{s.watched}} | {{ s.video.duration }}
        {% endfor %}
        -->
    </div>

    <script>
        $(function(){
            {% for s in stats %}
            $('#stats_{{s.uid}}').each(function(){$(this).progressbar({value:{{100*s.watched/s.video.duration}}});})
            {% endfor %}
        });
    </script>

{% endblock %}
