{% extends "layout.html" %}
{% block title %}Email me my password{% endblock %}
{% block body %}
  <h2>Email Me My Password</h2>
  {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}

  <form action="" method=post>
    <dl>
      <dt>E-Mail:
      <dd><input type=text name=email size=30 value="{{ request.form.email }}">
    </dl>

     <input type="hidden" name="type" value="email">
    <div class=actions><input type=submit value="Submit"></div>
  </form>

{% endblock %}
