<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
    <title>MassConstructionSchool.com - Continuing Education</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="static/CE/images/ga.js" async="" type="text/javascript"></script><script src="static/CE/images/prototype.js"></script>
    <script src="static/CE/images/effects.js"></script>
    <script src="static/CE/images/flowplayer.js"></script>

    <style>
        body { background-color: #FFFFFF; margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; }
        .body { font-family: Arial, sans-serif; font-size: 16px; }
        .header{ font-family:Arial, sans-serif; font-size: 28px; }
        .style5 {color: #000000}
        .style6 {font-family:Arial, sans-serif; font-size: 30px; color: #000000; }
        .style7 {color: #000000}
        .style8 {font-family:Arial, sans-serif; font-size: 16px; color: #000000; }
        .style10 {color: #333333}
        .style11 {font-size: 14px}
        .style12 { font-family:Arial, sans-serif; font-size: 14px; color: #ffffff; }
        .style13 { font-family:Arial, sans-serif; font-size: 14px; color: #FFFFFF; }
        .style16 {font-family:Arial, sans-serif; font-size: 13px; }
        .style17 { color: #001efe; font-size: 13px; padding:5px; }

	.green-box {
  font-family:Arial, sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #197b30;
  padding: 8px;
  text-decoration: underline;
  width: 302px;
  margin-left: auto;
  margin-right: auto; }

	.green-box a:visited {color:#ffffff;}

#attention{
	background-color:#262626;
	background-repeat:repeat-x;
	background-position:top center;
	width:100%;
	height:40px;
	padding-left:50px;
	margin:0px auto;
	text-align:center;
	color:#FFFFFF;
	z-index:103;

}

#attention a{
	color:#ffffff;
	text-decoration:underline;

}

#attention-text{
	font-family:Arial, sans-serif;
	font-size:13px;
	padding-top:12px;
	font-weight:bold;
	text-decoration:none;
	margin-left:400px;

}

    </style>


</head>
 
<body style="font-family:Arial, sans-serif;">

<div align="center">
  <table border="0" cellpadding="0" cellspacing="0" align="center">
    <tbody><tr>
      <td background="images/tile.gif" width="50%"></td>
      <td valign="top" width="1000"><table border="0" cellpadding="0" cellspacing="0" width="1000">
        <tbody><tr>
          <td><table border="0" cellpadding="0" cellspacing="0" width="1000">
            <tbody><tr>
              <td width="511"><a href="index.htm"><img src="static/CE/images/ma-realestateschool-topleft.jpg" height="160" width="511"></a></td>
              <td style="text-align: right;">
              <img src="static/CE/images/ma-realestateschool-topright2.jpg" border="0" height="160" width="489"></td>
            </tr>
          </tbody></table></td>
        </tr>
        <tr>
          <td><table border="0" cellpadding="0" cellspacing="0" width="1000">
            <tbody><tr>
              <td width="50">&nbsp;</td>
              <td width="450"><p style="float:left; margin-top:-80px; margin-left:60px; border-style:solid; border-width:20px; border-color:#262626;"><iframe src="http://player.vimeo.com/video/44938699" width="320" height="320" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></p></td>

              <td>&nbsp;</td>
              <td width="398"><table border="0" cellpadding="0" cellspacing="0" width="398">
                <tbody><tr>
                  <td><img src="static/CE/images/ma-realestateschool-clickbelow2.gif" height="200" width="460"></td>
                </tr>
                <tr>
                    <td><div align="center"><a href="https://www.formstack.com/forms/?1234977-bTd8A8JtXw"><img src="static/CE/images/ma-realestateschool-addcart2.jpg" border="0" height="130" width="300"></a></div></td>
                </tr>

                <tr>
                  <td><div align="center"><img src="static/CE/images/ma-realestateschool-price2.jpg" height="175" width="400"></div></td>
                </tr>

                <tr>
                  <td>
                    <div align="center">
                </td>
                </tr>
              </tbody></table></td>
              <td width="50">&nbsp;</td>
            </tr>
          </tbody></table></td>
        </tr>
      </tbody></table></td>
      <td background="images/tile.gif" width="50%"></td>
    </tr>
  </tbody></table>
  <table border="0" cellpadding="0" cellspacing="0" width="1000">
    <tbody><tr>
      <td width="50">&nbsp;</td>
      <td><table border="0" cellpadding="0" cellspacing="0" width="900">
        <tbody><tr>
          <td height="10">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" width="450"><table border="0" cellpadding="0" cellspacing="0" width="450">
              <tbody><tr>
                
              </tr>
              <tr>
                
<td valign="top"><p class="body" align="center" style="margin-top:-110px;"><strong>How come I've never heard of being able to fulfill my CE Requirement online before?</strong><br><br>
Because it wasn't allowed! In 2011, the state of MA approved Online Education to fulfill their Continuing Education requirements. Here is a link to the approval: <a href="http://www.mass.gov/eopss/agencies/dps/construction-supervisor-license-continuing.html">http://www.mass.gov/eopss/agencies/dps/construction-supervisor-license-continuing.html</a><br><br>
                
</p></td>

              </tr>
              <tr>
                <td valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td valign="top" width="30"><div align="center" style="margin-top:-20px;"><a href="images/approval.pdf" target="_blank"><img src="static/CE/images/cert2.jpg" height="384" width="437"></a></div></td>
                </tr>
            </tbody></table>            
          </td>
          <td>&nbsp;</td>
          <td valign="top" width="398"> <div align="left">
                          
                	        <span class="style16"><b>"Doing my Continuing Education online was easier and more informative than I could have imagined."</b><br> <em>A. Javor - Massachusetts Construction Supervisor</em>
              	            </span></p><br />

                  </div>
                </div>
            <table border="0" cellpadding="0" cellspacing="0" width="398">
              <tbody><tr>
                <td class="header style5">How It Works</td>
                </tr>
              <tr>
                <td><table border="0" cellpadding="0" cellspacing="0" width="398">
                  <tbody><tr>
                    <td valign="top"></td>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td valign="top" width="30"><img src="static/CE/images/bullet.png" height="21" width="25" align="absmiddle"></td>
                    <td class="body"><strong>Step One:</strong> Submit Payment <p></p> </td>
                  </tr>
                  <tr>
                    <td valign="top"></td>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td valign="top"><img src="static/CE/images/bullet.png" height="21" width="25" align="absmiddle"></td>
                    <td class="body"><strong>Step Two:</strong> You will receive an instant access code to the course website. <p></p></td>
                  </tr>
                  <tr>
                    <td valign="top"></td>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td valign="top"><img src="static/CE/images/bullet.png" height="21" width="25" align="absmiddle"></td>
                    <td class="body"><strong>Step Three:</strong> Watch the video for as little or as long as you want in one sitting (our software will remember where you left off so you can log off and log back on as needed) Most people complete the course in a few days, but take as long as you want ? even weeks or months! <p></p></td>
                  </tr>
                  <tr>
                    <td valign="top"></td>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td valign="top"><img src="static/CE/images/bullet.png" height="21" width="25" align="absmiddle"></td>
                    <td><span class="body"><strong>Step Four:</strong> 
Upon completion of the video course our staff is notified and we will send you a certificate the next business day which fulfills your MA Construction Supervisor CE Requirement.</span>                      <p></p></td>
                  </tr>
				   
				  <tr>
                    <td valign="top"></td>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td valign="top"><img src="static/CE/images/bullet.png" height="21" width="25" align="absmiddle"></td>
                    <td><span class="body">Contact our office for one-on-one answers to your questions on course material. </span>                      <p></p></td>
                  </tr>
                </tbody></table></td>
              </tr>
            </tbody></table>
          </div>
            </td>
        </tr>
      </tbody></table></td>
      <td width="50">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="style6" bgcolor="#eefaf0"><table border="0" cellpadding="0" cellspacing="0" width="900">
        <tbody><tr>
          <td width="20">&nbsp;</td>
          <td class="body"><div align="left"><br>
                <span class="header">FAQs
                </span><br>            
                <br>
                <strong class="style8">1. Are You Licensed To Give Continuing Education For Construction Supervisors In MA? </strong>
            </div>
            <p class="style8" align="left">Yes, we are fully bonded and licensed in the State Of MA as a Real Estate School. – <a href="#">link to approval letter</a></p>

            <p class="style8" align="left"><strong>2. How Many Hours of Continuing Education (CE) Do I need as a Massachusetts Construction Supervisor?</strong></p>
            <p class="style8" align="left"><em>Different licenses require different amounts of CE:</em></p>
            <p class="style8" align="left"><img src="static/CE/images/bullet2.png" height="21" width="25" align="absmiddle">Unrestricted Licensees Need 12 Hours Every 2 Years.</p>
            <p class="style8" align="left"><img src="static/CE/images/bullet2.png" height="21" width="25" align="absmiddle">Restricted Licensees Need 10 Hours Every 2 years.</p>
            <p class="style8" align="left"><img src="static/CE/images/bullet2.png" height="21" width="25" align="absmiddle">Specialty Contractors - Masonry, Roofing, Windows/Siding, Demolition, Insulation, need 6 Hours Every 2 Years.</p>

            <p class="style8" align="left"><strong>3. Do your Continuing Education Classes fulfill my 12 hour Continuing Education requirement for Unrestricted license holders or 10 hour requirement for restricted license holders?</strong></p>
            <p class="style8" align="left">Yes, our online classes fulfill your requirements. You will receive a certificate on completion of your course that you can send in with your license renewal.</p>

            <p class="style8" align="left"><strong>4. How Do Online Classes work? </strong></p>
            <p class="style8" align="left"><img src="static/CE/images/bullet2.png" height="21" width="25" align="absmiddle">Once You pay for the course, you are sent login information to watch a recorded course.</p>
            <p class="style8" align="left"><img src="static/CE/images/bullet2.png" height="21" width="25" align="absmiddle">You can watch as much as you like at a time, and logoff. When you log back in, the lecture will start where you were.</p>
            <p class="style8" align="left"><img src="static/CE/images/bullet2.png" height="21" width="25" align="absmiddle">Once the lecture is finished, you will receive a confirmation that you have completed the course and we mail you a certificate.</p>
            <p class="style8" align="left"><img src="static/CE/images/bullet2.png" height="21" width="25" align="absmiddle">There will be a short quiz after each 2 hour section that you will need to pass before moving on – if you watched it, it is easy.</p>
            <p class="style8" align="left"><img src="static/CE/images/bullet2.png" height="21" width="25" align="absmiddle">No more driving to a lecture and wasting an entire day and night of your life!! Who has time for that??</p>

            <p class="style8" align="left"><strong>5. How come I've never heard of being able to fulfill my CE Requirement online before? </strong></p>
            <p class="style7" align="left"><span class="body">Because it wasn't allowed! In 2011, the state of MA approved Online Education to fulfill their Continuing Education requirements. Here is a link to the approval: <a href="http://www.mass.gov/eopss/agencies/dps/construction-supervisor-license-continuing.html">http://www.mass.gov/eopss/agencies/dps/construction-supervisor-license-continuing.html</a></p>

            <p class="style8" align="left"><strong>5. What classes do you offer for your online continuing education? </strong></p>
            <p class="style7" align="left"><span class="body">The following 6 courses will be taught in 2 hour blocks:</p>
            <p class="style8" align="left"><img src="static/CE/images/bullet2.png" height="21" width="25" align="absmiddle">Code Review</p>
            <p class="style8" align="left"><img src="static/CE/images/bullet2.png" height="21" width="25" align="absmiddle">Business Practices/Workplace Compensation</p>
            <p class="style8" align="left"><img src="static/CE/images/bullet2.png" height="21" width="25" align="absmiddle">Workplace Safety</p>
            <p class="style8" align="left"><img src="static/CE/images/bullet2.png" height="21" width="25" align="absmiddle">Energy</p>
            <p class="style8" align="left"><img src="static/CE/images/bullet2.png" height="21" width="25" align="absmiddle">Lead Abatement</p>
            <p class="style8" align="left"><img src="static/CE/images/bullet2.png" height="21" width="25" align="absmiddle">Elective: Chapter 93A</p>





            </td>
          <td width="20">&nbsp;</td>
        </tr>
        <tr>
          <td height="20"></td>
          <td class="body" height="20"></td>
          <td height="20"></td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <td>&nbsp;</td>
          <td class="body" height="150"><div align="center"><a href="https://www.formstack.com/forms/?1234977-bTd8A8JtXw"><img src="static/CE/images/ma-realestateschool-addcart.jpg" border="0" height="130" width="300"></a></div></td>
          <td>&nbsp;</td>
        </tr>
      </tbody></table>      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="style6" bgcolor="#008d13"><table border="0" cellpadding="0" cellspacing="0" width="900">
        <tbody><tr>
          <td class="style12" width="20">&nbsp;</td>
          <td class="style12" height="30">All rights reserved - <strong>MassConstructionSchool.com</strong></td>
          <td class="body style12">
                  <strong>Contact us: </strong><a href="mailto:info@massconstructionschool.com">info@massconstructionschool.com</a> &nbsp;&nbsp;|&nbsp;&nbsp; Powered by: <a href="http://www.searchbanklocal.com">SearchBank</a>
          </td>
        </tr>
      </tbody></table></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="style6" bgcolor="#ffffff" height="80"><div class="style13" align="center">
        <div align="right">
          <table border="0" cellpadding="0" cellspacing="0" width="900">
            <tbody><tr>
              <td class="style12" width="20">&nbsp;</td>
              <td class="style12" height="30">&nbsp;</td>
              <td class="body" width="450"><div class="style7 style11" align="center">
              </div></td>
              <td class="body" width="20">&nbsp;</td>
            </tr>
          </tbody></table>
          </div>
      </div></td>
      <td>&nbsp;</td>
    </tr>
  </tbody></table>
  <img src="static/CE/images/white.gif">
</div>

</body></html>
