{% extends "layout.html" %}
{% block title %}Thanks for signing up!{% endblock %}
{% block meta %}
    <meta http-equiv="refresh" content="3;URL='/login'">
{% endblock %}

{% block body %}


<!-- Google Code for Massachusetts CSL Continuing Education Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1009678496;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "aDZsCLjdwAQQoPG54QM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1009678496/?value=0&amp;label=aDZsCLjdwAQQoPG54QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<center>
<h3>Thanks for signing up, you'll be redirected in a few seconds</h3>
</center>
{% endblock %}

