{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block body %}
<script type="text/javascript" src="https://www.formstack.com/forms/js.php?1136161-bTd8A8JtXw-v2"></script><noscript><a href="https://www.formstack.com/forms/?1136161-bTd8A8JtXw" title="Online Form">Online Form - MARE_Order</a></noscript>


<!-- Google Code for Massachusetts CSL Continuing Education Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1009678496;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "aDZsCLjdwAQQoPG54QM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1009678496/?value=0&amp;label=aDZsCLjdwAQQoPG54QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript> 



{% endblock %}
